npm-debug.log

# emacs
.tern-port

# node
node_modules

# type script definitions
typings

# bower
bower_components
.bower-cache
.bower-registry

# project ignore
app/server/**/*.d.ts
app/server/**/*.js
app/server/public
app/server/assets/vendor
docs/styledocco
