npm-debug.log

# emacs
.tern-port

# node
node_modules

# type script definitions
typings

# bower
bower_components
.bower-cache
.bower-registry

# project ignore
server/**/*.d.ts
server/**/*.js
server/public
server/assets/vendor
docs/styledocco
