doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    header#header
      .l-table-cell.m-header-open-icon ⇔
      h1.l-table-cell.l-main-side.m-header-title Dashboard

    nav#sidebar
      ul.md-nav-menu
        li about
        li article
    main#main.l-main-side
      article
        block content
    footer#footer.l-main-side
      .container
        p Copyright © 2015 Syati.info