extends layout_base

block body
  header#header.l-table
    h1.l-table-cell.m-header-title Typescript Express Todo
    block header
  main#main
    block content
  footer#footer
    p Copyright © 2015 Syati.info