doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    header
      .container
        h1 Syati.info
    nav
      .container
        ul
          li about
          li article
    main
      article
        block content
    footer
      .container
        p Copyright © 2015 Syati.info