extends ../layout

block content
  section.container
    h2= title
    form(method="post", action="/todos/create")
      input(type="text", name="title")
      input(type="text", name="body")
      input(type="submit", value="add")
    a(href="/todos/") Todos