extends ../layout_after_login

block content
  section.container
    h2= title
    form(method="post", action="/todos/create")
      input(type="text", name="name")
      input(type="text", name="description")
      input(type="hidden", name="_csrf", value="#{csrfToken}")
      input.m-btn(type="submit", value="add")
    a(href="/todos/") Todos