extends ../layout_before_login

block header
  a.l-table-cell.m-header-menu(href="/signup/") Sign up
block content
  section.l-container--full
    form.m-login.l-table(method="post", action="/login")
      div.m-login-inner.l-table-cell
        input.m-input(placeholder="Username", type="text", name="username")
        input.m-input(placeholder="Password", type="text", name="password")
        input.m-btn.m-btn--max(type="submit", value="Log in")

