extends ../layout_before_login

block header
  a.l-table-cell.m-header-menu(href="/login/") Log in
block content
  section.l-container--full
    form.m-login.l-table(method="post", action="/signup/")
      div.m-login-inner.l-table-cell
        input.m-input(placeholder="Username", type="text", name="username")
        input.m-input(placeholder="Password", type="password", name="password")
        input(type="hidden", name="_csrf", value="#{csrfToken}")
        input.m-btn.m-btn--max(type="submit", value="Sign up")
