// layout

@sidebar-width: 50px;
@distance-sidebar-main: 30px;
@container-width: 960px;


#header {
  position: fixed;
  top:0px;
  width:100%;
  min-height:50px;
  border-bottom: 1px solid;
}

#sidebar {
  position:fixed;
  top:50px;
  width: @sidebar-width;
  height:100%;
  box-shadow: 0px 3px 10px -5px;
  padding: 10px 0px;
}

#main {
  padding:50px 0 50px 0;
  height:100%;
}

#footer {
  text-align: center;
  border-top: 1px solid;
  position: fixed;
  bottom: 0px;
  width: 100%;
}

.l-table {
  width:100%;
  display:table;
}

.l-table--fixed {
  width:100%;
  display: table;
  table-layout: fixed;
}

.l-table-cell {
  display: table-cell;
}

.l-main-side {
  margin-left: @sidebar-width !important;
  padding-left: @distance-sidebar-main !important;
}

.l-container {
  position: relative;
  width: 100%;
  max-width: @container-width;
  margin: 0 auto;
  padding: 0 20px;

  &--full {
    height: 100%;
  }
}