// theme

@header-title-color   : #094284;
@header-icon-bg-color : #75A158;
@header-color         : #FFFFFF;
@sidebar-color-1      : #4A90E2;
@sidebar-color-2      : #2E5D94;

@border-color         : #E3E3E3;
