// theme

@header-title-color   : #094284;
@header-icon-bg-color : #75A158;
@header-color         : #FFFFFF;
@sidebar-color-1      : #4A90E2;
@sidebar-color-2      : #2E5D94;

@main-font-color      : black;
@border-color         : #E3E3E3;

* {
  font-family:'Lato', 'Lucida Grande','Hiragino Kaku Gothic ProN','Meiryo', 'sans-serif';
  font-weight: 300;
}

h1 {
  font-size: 30px;
}

h2 {
  font-size: 26px;
}

h3 {
  font-size: 22px;
}